<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <title>201911_事前練習</title>
</head>
<body>
<div id="tgt"></div>
<script type="text/x-template" id="tmpl-base">
    <div class="form">
        <form action="." name="frm">
            <select_parts :form_data="form_data.select1"></select_parts>
            <select_parts :form_data="form_data.select2" :parent_level="form_data.select1" @reset="reset">
                <template v-slot:add_alert>
                    <p v-if="!form_data.select1.value">先にselect1を選択</p>
                </template>
            </select_parts>
            <select_parts :form_data="form_data.select3"></select_parts>
            <chceckbox_parts :form_data="form_data.agree1"></chceckbox_parts>
            <chceckbox_parts :form_data="form_data.agree2">
                <template v-slot:add_label>
                    <a href="#">リンク１</a> / <a href="#">リンク2</a>
                </template>
            </chceckbox_parts>
            <p><a href="#" @click.prevent="confirm">送信</a></p>
        </form>
        <confirm></confirm>
    </div>
</script>
<script type="text/x-template" id="tmpl-base-select_parts">
    <dl>
        <dt>{{form_data.label}}</dt>
        <dd>
            <slot name="add_alert"></slot>
            <p>{{current_label}}</p>
            <select :name="form_data.name" v-model="form_data.value" :disabled="disabled">
                <option v-for="option in options_filtered" :value="option.value">{{option.label}}</option>
            </select>
        </dd>
        <dd v-if="form_data.is_err && !disabled">{{form_data.err_msg}}</dd>
    </dl>
</script>
<script type="text/x-template" id="tmpl-base-chceckbox_parts">
    <div>
        <input type="checkbox" :name="form_data.name" :id="form_data.name" value="1" v-model="form_data.checked"><label :for="form_data.name">{{form_data.label}}</label>
        <slot name="add_label"></slot>
        <p v-if="form_data.is_err">{{form_data.err_msg}}</p>
    </div>
</script>
<script type="text/x-template" id="tmpl-confirm">
    <div>
        確認画面<br>

        <p><a href="#" @click.prevent="submit">送信</a></p>
    </div>
</script>

<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
<script>
    Vue.component('select_parts',{
        props:{
            form_data:{
                type:Object,
                required:true
            },
            parent_level:{
                type:Object
            }
        },
        computed: {
            /* 選択された option の label を返す */
            current_label:function(){
                return this.form_data.options.reduce(function(acc, option,index,ary){
                    return option.value === acc ? option.label : acc;
                },this.form_data.value);
            },
            /* 上位階層が指定されている場合は、上位階層の値がなければ disabled*/
            disabled:function(){
                return this.parent_level !== void 0 && !this.parent_level.value
            },
            /* 上位階層の絞り込みがある場合は絞り込んだoptionsを返す、上位階層の絞り込みがなければすべてのoptionsを返す */
            options_filtered:function(){
                return this.parent_level === void 0 ? this.form_data.options : this.form_data.options.filter(function(option){
                    let selectable_child_level = this.parent_level.options.filter(function(option){
                        return option.value === this.parent_level.value;
                    },this)[0].selectable_child_level || [];
                    return !option.value || selectable_child_level.indexOf(option.value) >= 0;
                },this);
            }
        },
        watch: {
            /* 上位階層が指定されている場合は、上位の値がかわれば初期値に戻す */
            'parent_level.value':function(){
                this.$emit('reset',this.form_data.name);
            }
        },
        template: '#tmpl-base-select_parts'
    });
    Vue.component('chceckbox_parts',{
        props:{
            form_data:{
                type:Object,
                required:true
            }
        },
        template: '#tmpl-base-chceckbox_parts'
    });
    Vue.component('confirm',{
        props:{

        },
        template:"#tmpl-confirm",
        methods:{
            submit:function(){
                // document.frm.submit();
            }
        }
    });
    new Vue({
        el:'#tgt',
        template:"#tmpl-base",
        data:{
            item1:'ほげ',
            form_data:{
                select1:{
                    label:'選択１',
                    name:'select1',
                    value:'',
                    options:[
                        {label:'↓選択してください',value:''},
                        {label:'op1-1',value:1, selectable_child_level:[1]},
                        {label:'op1-2',value:2, selectable_child_level:[1,2]},
                        {label:'op1-3',value:3, selectable_child_level:[1,3]},
                        {label:'op1-4',value:4, selectable_child_level:[4]},
                    ],
                    is_err:false,
                    err_msg:'選択してください',
                    note:''
                },
                select2:{
                    label:'選択２',
                    name:'select2',
                    value:'',
                    options:[
                        {label:'↓選択してください',value:''},
                        {label:'op2-1',value:1},
                        {label:'op2-2',value:2},
                        {label:'op2-3',value:3},
                        {label:'op2-4',value:4},
                    ],
                    is_err:false,
                    err_msg:'選択してください',
                    note:''
                },
                select3:{
                    label:'選択3',
                    name:'select3',
                    value:'',
                    options:[
                        {label:'↓選択してください',value:''},
                        {label:'op3-1',value:1},
                        {label:'op3-2',value:2},
                        {label:'op3-3',value:3},
                        {label:'op3-4',value:4},
                    ],
                    is_err:false,
                    err_msg:'選択してください',
                    note:''
                },
                agree1:{
                    label:'同意事項1です',
                    name:'agree1',
                    checked:true,
                    is_err:false,
                    err_msg:'同意が必要',
                    note:''
                },
                agree2:{
                    label:'同意事項2です',
                    name:'agree2',
                    checked:false,
                    is_err:false,
                    err_msg:'同意が必要',
                    note:''
                }
            }
        },
        methods:{
            reset:function(tgt){
                if(this.form_data[tgt]){
                    this.form_data[tgt].value = '';
                }
            },
            confirm:function(){
                console.log('確認');
                /* form_data をいったん配列にしてまとめてチェック。 */
                let err_flg = Object.keys(this.form_data).map(function(key){
                    return this[key];
                },this.form_data).reduce(function(acc,form_data){
                    form_data.is_err = !form_data.value && !form_data.checked; //未入力の場合はどちらも false
                    return form_data.is_err || acc;
                }, false);
                if(!err_flg){
                    console.log('確認開く');
                    let confirm_data = ['select1','select2','select3'].map(function(name){
                        let form_data = this.form_data[name];
                        return {
                            label : form_data.label,
                            current_label: form_data.options.reduce(function(acc, option){
                                return option.value === acc ? option.label : acc;
                            },form_data.value)
                        };
                    },this);
                    console.log(confirm_data);
                }
            }
        }
    });
</script>
</body>
</html>